#ticker-container {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  height: 150px;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.App-intro {
  font-size: large;
  position: relative;
  top: 80px;
}

#ticker{
  font-weight: 900;
}

* {
  font-family: 'Roboto Slab', serif;
}

